<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KetabKhan.Properties.Settings.CounselorBOTConnectionString"
            connectionString="Data Source=217.20.112.152;Initial Catalog=CounselorBOT;Persist Security Info=True;User ID=CounselorBot;Password=Bot12345!@#$%"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>